CompileFlags:
  Add:
    - "-xc"
    - "-I."
    - "-Itos"
    - "-Itos/types"
    - "-Itos/system"
    - "-Itos/interfaces"
    - "-Itos/lib/timer"
    - "-include"
    - "clangd_macros.h"

Diagnostics:
  Suppress:
    - "incomplete_type"
    - "expected_identifier"
    - "type_specifier_missing"